@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.dark .darkTheme{
  background-color: hsl(220.91,39.29%,10.98%);
  color: hsl(0, 0%, 100%);
}
.light .lightTheme{
  background-color: hsl(0, 0%, 98%);
  color: hsl(200, 15%, 8%);
}